@page "/IndexGitRepository"

@using ElasticsearchFulltextExample.Web.Client.Components
@using ElasticsearchFulltextExample.Web.Client.Extensions;
@using ElasticsearchFulltextExample.Web.Client.Infrastructure;
@using ElasticsearchFulltextExample.Shared.Client

@inject SearchClient SearchClient
@inject IStringLocalizer<SharedResource> Loc

<PageTitle>Index Git Repository</PageTitle>

<EditForm Model="@CurrentUpload" OnValidSubmit="@(async () => await HandleValidSubmitAsync())" FormName="upload_form" novalidate>
    <SimpleValidator TModel=UploadModel ValidationFunc="ValidateCurrentUpload" />
    <FluentStack Orientation="Orientation.Vertical">
        <div>
            <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center">
                <div>
                    <FluentTextField Style="@("width: 300px;")" Name="title" @bind-Value="CurrentUpload.Title" Label="Title" Required />
                </div>
                <FluentValidationMessage For="@(() => CurrentUpload.Title)" />
            </FluentStack> 
        </div>
        <div>
            <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center">
                <div>
                    <FluentTextField Style="@("width: 300px;")" Name="suggestion" @bind-Value="CurrentUpload.Suggestion" Label="Suggestion" Required />
                    <FluentButton OnClick="OnAddSuggestion"></FluentButton>
                </div>
                <FluentValidationMessage For="@(() => CurrentUpload.Suggestion)" />
            </FluentStack>
        </div>
        <div>
            <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center">
                <div>
                    <FluentTextField Style="@("width: 300px;")" Name="keywordr" @bind-Value="CurrentUpload.Keyword" Label="Suggestion" Required />
                    <FluentButton OnClick="OnAddKeyword"></FluentButton>
                </div>
                <FluentValidationMessage For="@(() => CurrentUpload.Keyword)" />
            </FluentStack>
        </div>

        <div>
            <FluentStack Orientation="Orientation.Horizontal">
                <FluentButton Type="ButtonType.Submit" Appearance="Appearance.Accent">Submit Repository to Index</FluentButton>
                <FluentButton Appearance="Appearance.Accent" OnClick="@(async () => await HandleDiscardAsync())">Discard Changes</FluentButton>
            </FluentStack>
        </div>
        <div>
            <FluentValidationSummary />
        </div>
    </FluentStack>
</EditForm>